<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {
    active: active
}) %>
<div class="w-main bg-red-200">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, quod?</p>
</div>
<%- include('partials/endHTML.ejs') %>