<%- include('partials/header.ejs') %>

<div style="background-color:#0B0B42; height: 90vh; width: 100vw;" class="parent">
    <div class="child1" style="text-align: center; width: 18%;
    height: 100%; float: left; background-color: #E1C2EE;">

        <div><pre> </pre></div>
        <img src="/img/Gaia.png" class="mx-auto" width="200" height="200" margin="auto">

    </div>
    <div class="child2" style="text-align: center; width: 82%;
    height: 100%; float: left; background-color: #F2EBE3">

    </div>
</div>

<%- include('partials/endHTML.ejs') %>