<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {
    active: active
}) %>
    <div class="inline-block ml-72 content-center">
        <button type="button" class="text-white bg-[#1e1b4b] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-13 my-24 h-14" method="POST"  enctype="multipart/form-data">
            <i class="fa-solid fa-inbox ml-56 text-[#9ca3af]"></i>
            <p class="mx-64 ml-9 text-xl">IMPORT DATA</p>
            
        </button>
    </div>
        
    
<%- include('partials/endHTML.ejs') %>