<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {
    active: active
}) %>

<div class="w-main inline-flex flex-col flex-4">

    <nav class=" pt-8 bg-grey-light w-full rounded-md">
        <ol class="list-reset flex">
            <li>
                <a href="#" class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">Projects</a>
            </li>
            <li>
                <span class="mx-2 text-neutral-500 dark:text-neutral-400">></span>
            </li>
            <li class="text-neutral-500 dark:text-neutral-400">Project:  BC 8_SKZ</li>
        </ol>
    </nav><br>

    <div class="flex items-end space-x-2 underline flex justify-center">
        <p class="pl-18 text-2xl">Project:  BC 8_SKZ</p>
        <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/></a>
    </div>
 

    <!--CO-WORKERS-->
    <div class="flex justify-around  pt-20">
        <div class="bg-red-200 w-1/2 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">    
            <div class="flex-col items-center p-6">
                <div class="flex flex-row items-stretch">
                    <div class="basis-1/3 px-8">Co-Worker:<br>
                      <span class="text-sm text-gray-500 dark:text-gray-400">José Sebastián Pedrero<br>Jiménez Osvaldo del Valle Mejía<br>Yael Cortés Rubio</span><br><br>
                      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">Add</a>
                    </div>
                    <div class="basis-1/3 px-8">Agile points:<br>
                      <span class="text-sm text-gray-500 dark:text-gray-400">4pts<br>2pts<br>3pts</span>
                    </div>
                    <div class="basis-1/3" px-8>Work area:<br>
                      <span class="text-sm text-gray-500 dark:text-gray-400">Frontend<br>Backend<br>Frontend</span><br><br>
                      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">Edit</a>
                    </div>
                </div>
            </div>
        </div>


        <!--EPICS-->
        <div class="bg-blue-200 w-1/4 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">    
            <div class="flex-col items-center p-6">
                <div class="flex flex-row items-stretch">
                    <div class="basis-1/3 px-8">Epics:<br>
                      <span class="text-sm text-gray-500 dark:text-gray-400">Design.<br>Table creator.<br>Sdfsd sdfsfs.<br>Dfsfsf.</span><br><br>
                      <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 bg-blue-600 dark:hover:blue-red-700 dark:focus:ring-blue-800">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<%- include('partials/endHTML.ejs') %>