nav a{
    font-weight: 500;
}

/*Header*/
header{
    font-family: 'Roboto',serif;
    display: flex;
    background-color: rgb(11, 11, 66);
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0.9em;
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 1em;
}

.nav-link:hover{
    color:rgb(138, 43, 226);
}

.nav-logout{
    text-decoration: none;
    color: white;
    background-color: rgb(237, 62, 62);
    border-radius: 10px;
    padding: 0.8em 1em;
}

.nav-logout:hover{
    background-color:rgb(201, 53, 53);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 2.5em;
    margin: 0.1em 1em;
}

@media screen and (max-width: 650px){
    .logo-dh{
        visibility: hidden;
        width: 0;
    }
    .logo-yaxmo{
        margin: 1px;
    }
    .nav-logout{
        padding: 0.5em 1em;
        width: 1em;
        font-size: small;
        margin: 0.2em;
    }
    .nav-link{
        margin: 1em 0;
    }
}

.tasks{
    top: 10vh;
}
/*Navbar*/
.nave{
    font-family: sans-serif;
    width: 15vw;
    height: 90vh;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 10vh;
}

.gaia{
    margin-left: 1.5em;
    width: 75%;
    padding: 1em;
}

.nav-menu{
    width: 100%;
}

.nav-menu-item{
    width: 100%;
    line-height: 5px;
    margin:1.5em 0;
}

.nav-menu-project{
    width: 100%;
    height: 1em;
    text-decoration: none;
    color: rgb(97, 97, 97);
    padding-left: 2em;
}

.nav-menu-project:hover{
    color: rgb(138, 43, 226);
}   

.letra{
    display: inline;
}

.activeNB{
    border-right: 3px solid rgb(138, 43, 226);
}

.activeNB .nav-menu-project{
    color: rgb(138, 43, 226);
}

/*Import popup succes*/

.overlay {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background-color: white;
    box-shadow: 0em 0em 0.313em 0em rgba(0,0,0,0.3);
    border-radius: 0.188em;
    font-family: 'Roboto', serif;
    padding: 1.25em;
    text-align: center;
    width: 37.5em;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-close-popup {
    font-size: 1em;
    line-height: 1em;
    display: block;
    text-align: right;
    color:black;
    transition: .3s ease all;
}

.popup .btn-close-popup:hover {
    color: blue;
}

.popup h4 {
    font-size: 2.25em;
    font-weight: 600;
    margin-bottom: 0.625em;
    color: chartreuse;
    /*opacity: 0;*/
}

.popup h3 {
    font-size: 1.625em;
    font-weight: 300;
    margin-bottom: 2.5em;
    background-color: chartreuse;
    border-radius: 0.625em;
    padding: 0.938em 1.875em;
    /*opacity: 0;*/
}

/*Import popup animation*/

.popup.active {opacity: 1; transform: scale(1);}

/*Import popup error*/

.overlayerr {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlayerr.active {
    visibility: visible;
}

.popuperr {
    background-color: white;
    box-shadow: 0em 0em 0.313em 0em rgba(0,0,0,0.3);
    border-radius: 0.188em;
    font-family: 'Roboto', serif;
    padding: 1.25em;
    text-align: center;
    width: 37.5em;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popuperr .btn-close-popuperr {
    font-size: 1em;
    line-height: 1em;
    display: block;
    text-align: right;
    color:black;
    transition: .3s ease all;
}

.popuperr .btn-close-popuperr:hover {
    color: blue;
}

.popuperr h4 {
    font-size: 2.25em;
    font-weight: 600;
    margin-bottom: 0.625em;
    color: red;
    /*opacity: 0;*/
}

.popuperr h3 {
    font-size: 1.625em;
    font-weight: 300;
    margin-bottom: 2.5em;
    background-color: red;
    border-radius: 0.625em;
    padding: 0.938em 1.875em;
    /*opacity: 0;*/
}

.popuperr.active {opacity: 1; transform: scale(1);}

/* Inputs */

input[type="file"]{
    display: none;
}

.btn-submit{
    position: relative;
    display: inline-block;
    padding: 0.625em 1.25em;
    color: white;
    background:rgb(11, 11, 66);
    letter-spacing: 0.063em;
    font-size: 1.25em;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 1.563em;
}

.btn-submit:hover{
    background: -webkit-linear-gradient(to right, #7329eb, #eb2fde); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7329eb, #eb2fde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition: 1s;
}

/*Otros*/
/*Boton ventana 1*/

.boton-modal label {
    padding: 0.625em 0.938em;
    background-color: rgb(240, 79, 79);
    color: white;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal label:hover{
    background-color: rgb(250, 20, 20);
}

#btn-modal{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 100%;
    max-width: 25em;
    padding: 1.25em;
    background-color: white;
    border-radius: 0.25em;
}

.content-modal h2 {
    margin-bottom: 0.938em;
}

.content-modal p {
    padding: 0.938em 0em;
    border-top: 0.063em solid #dbdbdb;
    border-bottom: 0.063em solid #dbdbdb;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 0.938em;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 0.438em 0.625em;
    background-color: rgb(90, 116, 247);
    color: white;
    border-radius: 0.20em;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color: rgb(31, 27, 254);
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

/*Boton ventana 2*/

.boton-modal2 label {
    padding: 0.625em 0.938em;
    background-color: rgb(240, 79, 79);
    color: white;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal2 label:hover{
    background-color: rgb(250, 20, 20);
}

#btn-modal2{
    display: none;
}

.container-modal2{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal2:checked ~ .container-modal2{
    display: flex;
}

.content-modal2{
    width: 100%;
    max-width: 25em;
    padding: 1.25em;
    background-color: white;
    border-radius: 0.25em;
}

.content-modal2 h2 {
    margin-bottom: 0.938em;
}

.content-modal2 p {
    padding: 0.938em 0em;
    border-top: 0.063em solid #dbdbdb;
    border-bottom: 0.063em solid #dbdbdb;
}

.content-modal2 .btn-cerrar2{
    width: 100%;
    margin-top: 0.938em;
    display: flex;
    justify-content: flex-end;
}

.content-modal2 .btn-cerrar2 label{
    padding: 0.438em 0.625em;
    background-color: rgb(90, 116, 247);
    color: white;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal2 .btn-cerrar2 label:hover{
    background-color: rgb(31, 27, 254);
}

.cerrar-modal2{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}